<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Corp Vision - Corporate Category Bootstrap Responsive Template | Home :  PERSONALITY PREDICTION</title>

    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Jost:wght@300;400;600&display=swap" rel="stylesheet">
    
    <!-- Template CSS -->
    <link rel="stylesheet" href="/static/assets/css/style-starter.css">
    
  </head>
  <body>
<!--header-->
<header id="site-header" class="fixed-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark stroke">
        <h1>
          <a class="navbar-brand" href="/">
            <span class="fa fa-align-right"></span>  PERSONALITY <span class="logo"> PREDICTION </span></a>
        </h1>
  
        <!-- if logo is image enable this   
          <a class="navbar-brand" href="#index.html">
              <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
          </a> -->
        <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
          data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
          <span class="navbar-toggler-icon fa icon-close fa-times"></span>
          </span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mx-lg-auto">
            <li class="nav-item active">
              <a class="nav-link" href="userhome">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item @@contact__active">
              <a class="nav-link" href="/userviewjob">View Job</a>
            </li>
            <!-- <li class="nav-item @@services__active">
              <a class="nav-link" href="usersendapplication?qpos=0">UPLOAD APPLICATION</a>
            </li> -->
            <!-- <li class="nav-item @@contact__active">
              <a class="nav-link" href="my_team">MY TEAM</a>
            </li> -->
            <li class="nav-item @@contact__active">
              <a class="nav-link" href="/userviewcompany">Company</a>
            </li>
            <!-- <li class="nav-item @@contact__active">
              <a class="nav-link" href="/userviewtest">View Test</a>
            </li> -->
            <li class="nav-item @@contact__active">
              <a class="nav-link" href="/userapplication">APPLICATION</a>
            </li>
            <li class="nav-item @@contact__active">
              <a class="nav-link" href="/usersendcomplaint">COMPLAINT</a>
            </li>
            
            <li class="nav-item @@contact__active">
              <a class="nav-link" href="/login">LOGOUT</a>
            </li>
            

          </ul>
          </div>
  
          <!--/search-right-->
         <!--  <div class="header-search">
            <div class='control mr-3'>
              <div class='btn-material'>
                <i class='fa fa-search icon-material-search'></i>
              </div>
            </div>
            full screen form controls
            <i class='icon-close fa fa-close material-icons'></i>
            <form action="error.html" method="GET" class='search-input'>
              <input class='input-search' placeholder='Start Typing' type='text'>
            </form>
          </div> -->
          <!--//search-right-->

          <!-- toggle switch for light and dark theme -->
          <div class="mobile-position">
            <nav class="navigation">
              <div class="theme-switch-wrapper">
                <label class="theme-switch" for="checkbox">
                  <input type="checkbox" id="checkbox">
                  <div class="mode-container py-1">
                    <i class="gg-sun"></i>
                    <i class="gg-moon"></i>
                  </div>
                </label>
              </div>
            </nav>
          </div>
          <!-- //toggle switch for light and dark theme -->
      </nav>

    </div>
  </header>
  <!--/header-->

<!-- hero slider Start -->
<!-- <div class="banner-wrap">
    <div class="banner-slider"> -->
        <!-- hero slide start -->
        <!-- <div class="banner-slide bg1">
            <div class="container">
                <div class="hero-content" style="color: white"> -->

<section style="background-image: url(/static/assets/images/b1.jpg);  background-attachment: fixed; ">
	<div style="background-color: #00000050; padding-top: 100px;min-height: 600px; padding-bottom: 100px">
	



<style type="text/css">
  table{
    width: 500px;
    border: 2;
  }
</style>